//ANIMATION===================================================

.carousel-animation-enter,.carousel-animation-appear
	opacity 0
	position absolute
	top 0
	&.carousel-animation-enter-active,&.carousel-animation-appear-active
		opacity 1
		animation-name slideInRight
		animation-duration 1s
		animation-fill-mode both

.carousel-animation-leave
	&.carousel-animation-leave-active
		animation-name slideOutLeft
		animation-duration 1s
		animation-fill-mode both

.carousel-animation-reverse-enter,.carousel-animation-reverse-appear
	opacity 0
	position absolute
	top 0
	&.carousel-animation-reverse-enter-active,&.carousel-animation-reverse-appear-active
		opacity 1
		animation-name slideInLeft
		animation-duration 1s
		animation-fill-mode both

.carousel-animation-reverse-leave
	&.carousel-animation-reverse-leave-active
		animation-name slideOutRight
		animation-duration 1s
		animation-fill-mode both

//ANIMATION===================================================

.b-carousel
	position relative
	width 100%
	//height 300px

	.item
		display inline-block

	.b-progress-bar
		display none

	.item-container
		//position absolute
		overflow hidden
		width 100%
		height 100%
		position relative

	.control-container
		position absolute
		right 0
		bottom 8px
		left 0
		z-index 2
		text-align center

		.circle
			display inline-block
			margin 0 4px
			width 10px
			height 10px
			border-radius 50%
			background-color rgba(darkgray,  1)
			vertical-align middle
			cursor pointer

			&.active
				background-color #E22417

		.next,  .prev
			display inline-block
			padding 0
			width $base-unit
			height $base-unit
			color white
			vertical-align middle
			font-weight bold
			cursor pointer

			img
				display block
				width 100%
				height 100%

.phone, .tablet
	.b-carousel
		.control-container
			position initial
			.next,  .prev
				position absolute
				top 50%
				width 30px
				height 30px
				opacity 0.6
				transform translate(0,  -50%)
			.next
				right 0
			.prev
				left 0

			.circle-list
				position absolute
				right 0
				bottom 8px
				left 0


.b-carousel.b-carousel--multiple
	color black

	.item-group
		width 100%
		height 100%
		//position absolute
		top 0
	.item
		//position absolute






















