.b-cycler
	text-align center
	.wrapper
		margin-right auto
		margin-left auto
	.part
		position relative
		display inline-block
	.prev,  .next
		position relative
		z-index 2
		cursor pointer

	.item
		display inline-block
		padding 10px
		cursor pointer

		&.active
			color #e22417
			font-weight bold

























