.b-dialog
	text-align center

	.b-popup
		max-width 450px
		text-align center
		position absolute
		width 100%
		transform translate(-50%, -50%)
		top 50%
		left 50%
		box-shadow 0 0 .5em .1em rgba(0,0,0,.5)

	.b-overlay
		z-index 2
		
	.b-button
		.button
			&.button--text
				padding-right 10px
				&:before
					display none
