.b-loading
	text-align center
	min-height 200px
	position relative
	.wrapper
		position absolute
		top 50%
		left 50%
		transform translate(-50%,-50%)
	img
		width 41px
		height 41px
	&.b-loading--page
		fixed 0 0 0 0
		background-color white
