.b-nav
	[class^="level"]
		margin-top 0
		margin-bottom 0
		padding-left 0
		list-style none

		& + [class^="level"]
			border-top none

		li
			display inline-block
			padding $base-unit

			&:hover, &.active
				color white
				cursor pointer

























