.b-tab
	.b-overlay
		z-index 9
		opacity 0

	.nav-list
		.nav-item
			display inline-block
			margin 0
			text-align center
			cursor pointer

	.tab-list
		position relative
		z-index 10

























