$font-headline = Venera, Verdana, Geneva, sans-serif
$font-headline-alt = Futura, Verdana, Geneva, sans-serif
$font-body = Futura, Verdana, Geneva, sans-serif

@font-face
	font-family 'Futura'
	src url('../stylus/font/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),  url('../stylus/font/FuturaStd-Book.otf')  format('opentype'),  url('../stylus/font/FuturaStd-Book.woff') format('woff'), url('../stylus/font/FuturaStd-Book.ttf')  format('truetype'), url('../stylus/font/FuturaStd-Book.svg#FuturaStd-Book') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'Futura'
	src url('../stylus/font/FuturaStd-Heavy.eot?#iefix') format('embedded-opentype'),  url('../stylus/font/FuturaStd-Heavy.otf')  format('opentype'),  url('../stylus/font/FuturaStd-Heavy.woff') format('woff'), url('../stylus/font/FuturaStd-Heavy.ttf')  format('truetype'), url('../stylus/font/FuturaStd-Heavy.svg#FuturaStd-Heavy') format('svg')
	font-weight bold
	font-style normal

@font-face
	font-family 'Venera'
	src url('../stylus/font/Venera500.eot?#iefix') format('embedded-opentype'),  url('../stylus/font/Venera500.otf')  format('opentype'),  url('../stylus/font/Venera500.woff') format('woff'), url('../stylus/font/Venera500.ttf')  format('truetype'), url('../stylus/font/Venera500.svg#Venera500') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'Venera'
	src url('../stylus/font/Venera700.eot?#iefix') format('embedded-opentype'),  url('../stylus/font/Venera700.otf')  format('opentype'),  url('../stylus/font/Venera700.woff') format('woff'), url('../stylus/font/Venera700.ttf')  format('truetype'), url('../stylus/font/Venera700.svg#Venera700') format('svg')
	font-weight bold
	font-style normal

