.image
	background-color white

	&.image-fill
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		overflow hidden

		> .asset
			position absolute
			top 50%
			left 50%
			display block
			min-width 101%
			min-height 101%
			opacity 1
			transform translate(-50%, -50%)

		> .spinner
			margin-top -24px
			margin-left -24px
			position absolute
			top 50%
			left 50%
			width 48px
			height 48px



























