.v-block-title
	text-align center
	margin-top 100px

	&.welcome
		.title
			color $text-black-light
			strong
				color $text-black-big
				font-size 40px

	.title
		font-size 30px
		font-weight bold
		margin 25px 0
		color $text-black-big
		letter-spacing 1px
		margin-bottom 12px
	.description
		opacity 0.5
		color $text-black-description
		font-size 15px
		margin 12px 0 30px 0

.phone
	.v-block-title
		margin-top 40px
		.description
			margin 12px 0 18px 0
		&.welcome
			.title
				font-size 17px
				strong
					font-size 23px

		.title
			font-size 23px
			line-height 23px
