.v-driver-statistic
	cf()
	.b-table
			&.b-table--vertical.b-table--grouped
				tbody

		table
			width 100%
		tbody
			tr
				width 100%
				display block
				border-bottom 1px solid $color-line-border-gray
				.tablet &, .desktop &
					&:last-child
						border none

				td, th
					display inline-block


		td, th
			padding 9px 13px 9px 0
			text-transform uppercase
			font-weight bold
			text-align left
			font-size 11px
			line-height 13px
			width 50%
		td
			font-size 13px

		tr:first-child
			td, th
				padding-top 0

		th
			color $text-gray

		td
			color $text-black-driver-name

	.table-overview
		tbody
			width (100%/3)

	.driver-detail-event
		.title
			background-color $bgcolor-title-gray
			border-top 1px solid $line-title-gray
			padding 25px 0 10px 0
			margin 0
			text-transform uppercase
			font-size 15px
			font-weight bold

.v-championship-overview
	gs("fluid",12,(100/12)%,0%)

	.logo
		col(3)
		padding 0 3% 20px 3%

		img
			max-width 100%

	.table-overview
		col(9)
.v-championship-statistic
	position relative
	&:before
		content ""
		display block
		background url("../img/event_shadow_bg.png") center top no-repeat
		position: absolute
		width 100%
		height 39px
		left 50%
		transform translateX(-50%)
		bottom -39px
		background-size contain


//============================================
.desktop
	.v-driver-statistic
		display block

//============================================
.tablet
	display block

//============================================
.phone
	display block

	.v-championship-statistic
		display block

	.v-championship-overview
		.logo
			width 100%
			margin-left auto
			margin-right auto
			float none
			display block
			text-align center
			padding 0

		.table-overview
			col(12)
			table
				width 100%
			tbody
				width 100%
			tr
				display block
				text-align center

				td, th
					display inline-block

				th
					text-align right
				td
					text-align left

			tbody + tbody
				tr:first-child td,
				tr:first-child th
					padding-top 9px
