.v-footer
	border-bottom 10px solid $color-primary
	text-align right
	height 159px
	margin-top 10px
	.qr-code
		position absolute
		right 40px
		bottom 10px
		> span
			vertical-align bottom
			display inline-block

		.asset
			background-color $color-primary
			text-align center
			padding 15px
			color white

		.question
			color $color-primary
			font-size 20px
			padding 10px
			a
				color $color-primary
