.v-header
	background-color $color-secondary
	padding-top 35px
	position relative
	.logo
		position absolute
		top 0px
		left 115px

	.symbol
		position absolute
		bottom 0
		transform translate(0,50%)
		margin-left 60px

	.title
		line-height 85px
		margin 0
		padding-right 40px
		background-color white
		color $color-primary
		padding-left 260px
		font-size 48px
		font-weight 100
