.v-suggestion-box
	margin 0
	position relative
	padding 26px 0 40px 0
	.footer
		color $text-gray
		padding 8px 0
		text-align center
		border-top 1px solid gainsboro
	.b-loading
		min-height auto
		min-height initial
		position static
		.wrapper
			right 110px
			left auto
			left initial
			transform translate(0, -50%)
		p
			display none
	.input-box
		position relative
		.v-filter
			input
				width 100%
				border-radius 30px
				mobile-font(38px, 45px)
				font-weight normal
				padding 13px 110px 13px 25px
				border 1px solid #b7b7b7
		.b-button
			position absolute
			top: 50%
			transform translateY(-50%)
			right 7px
			border-radius 20px
			min-width auto
			min-width initial
			border 1px solid $color-line-border-gray
			&:hover
				background #e60d40
			.button
				mobile-font(30px, 35px)

.phone
	.v-suggestion-box
		padding-left 10px
		padding-right 10px
